* {
    font-family: Montserrat;
}

 



.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./images/banner.png);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
}

.navbar {
    background-color: #111;
    position: relative;
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    
}



.navbar-collapse {
    /* background-color: red; */
    width: 100%;

}

.navbar-nav{
    background-color: red;
}
.nav-item a {
    color: white;
    font-weight: bold;
    text-align: center;
}

.hero {
    /* margin-top: 80px; */
    height: 100vh;
     margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    


}


.hero h1 {
    position: relative;
    z-index: 10;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}

.hero p {
    position: relative;
    z-index: 10;
    color: white;
    font-size: .8rem;
    padding: 2px 15px;
    text-align: center;
    font-weight: 300;



}

.button .btn {
    z-index: 10;
    position: relative;
    background-color: red;
    transition: 0.3s;
}

.button .btn:hover {
    background: transparent;
    border: 2px solid white;
    color: white;
}


.courses {
    margin-top: 7rem;
}

.course-txt {
    font-size: 1.8rem;
}

.course-txt-p {
    font-size: .8rem;
}

.card-1 {
    width: 100%;
    background-color: rgb(255, 206, 188);
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.card-1 h5 {
    color: black;
    font-weight: 700;
}

.card-1 p {
    color: black;
    font-size: .8rem;
    font-weight: 450;
}

.our-global-campus {
    margin-top: 7rem;
}

.image {
    width: 100%;
    height: 55vh;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.london {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
 
.overlay-3{
    position: absolute;
    content:'';
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(255,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .4s;
}
.text{
    color:whitesmoke;
    font-weight: bold;
    font-size: 25px;
}
.image:hover .overlay-3{
    opacity: 1;
}

.our-facalities {
    margin-top: 7rem;
}

.card{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

}

.library-img {
    height: 40vh;
    object-fit: cover;
}


.lib-heading-txt {
    color: black;
    font-weight: 700;
}


.lib-heading-p {
    color: black;
    font-size: .8rem;
    font-weight: 450;
}


.what-our-student-says{
    margin-top: 7rem;
}

.says-card-1{
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: .5rem;
    background-color: rgb(255, 206, 188);


}

 

.user-1-img{
    width: 30%;
    height: 30%;
    border-radius: 50%;
    
}



.says-txt {
    color: black;
    font-weight: 700;
}


.says-p {
    color: black;
    font-size: .8rem;
    font-weight: 450;
}

.f{
    color: orangered;
    font-size: 1.5rem;
}
 

.enroll{
    margin-top: 7rem;
}

.enroll::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(rgba(0,0,0.5),rgba(0,0,0,0.5));
    z-index: 1;
}


.about-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.overlay-2{
    position: relative;
    display: flex;
    height: 45vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}

.overlay-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/about.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    z-index: 2;
    border-radius: .5rem;
}


.overlay-2 h1 {
    position: relative;
    z-index: 10;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}
 
.button .btn {
    z-index: 10;
    position: relative;
    background-color: red;
    transition: 0.3s;
}

.button .btn:hover {
    background: transparent;
    border: 2px solid white;
    color: white;
}


.about-us{
    margin-top: 7rem;
}



.about-txt {
    color: black;
    font-weight: 700;
    text-align: center;
}


.about-p {
    color: black;
    font-size: .8rem;
    font-weight: 450;
    text-align: center;
}


.socail-media{
    display: flex;
    justify-content: center;
    align-items: center;

}

.s{
    
    font-size: 1.5rem;
    margin: .4rem;
    color:orangered;
}
 
#dev-name{
    color:orangered;
    font-weight: 700;
}

.footer{
    margin-top: 5rem;
}

@media (min-width:767px) {
    .navbar-collapse {
    /* background-color: red; */
    width: 100%;

}
/*    
.hero h1 {
    position: relative;
    z-index: 10;
    color: white;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 700;
}

.hero p {
    position: relative;
    z-index: 10;
    color: white;
    font-size: 1rem;
    padding: 2px 15px;
    text-align: center;
    font-weight: 500;



} */

.navbar-nav{
    background-color: black;
}


.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    max-width:100%;
    height: 88vh;
     
    
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./images/banner.png);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
}


.image {
     
   max-width:100%;
    height: auto;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}


.library-img {
      max-width:100%;
    height: auto;
    object-fit: cover;
}

.about-img{
    max-width:100%;
    height: auto;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
 .overlay-2{
    height: 400px;
 }

}



@media(min-width:1200px) {
    .overlay {
        max-width: 1400px;
    }

    .wrapper {
        max-width: 1400px;
    }

    .navbar-collapse {
    /* background-color: red; */
    width: 100%;

}

.navbar-nav{
    background-color: black;
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:60vh;
    
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./images/banner.png);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
}


.image {
     
   max-width:100%;
    height: auto;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}


.library-img {
      max-width:100%;
    height: auto;
    object-fit: cover;
}

 .enroll::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: linear-gradient(rgba(0,0,0.5),rgba(0,0,0,0.5));
    z-index: 1;
}

}